
HTML { text-direction: rtl; }

body{
	position: relative;
	font-family: Arial, sans-serif;
	font-size: large;
	text-align: justify;
	margin-right: 5%;
	margin-left:5%;
	padding: 2px;
	line-height: 35px;
	font-weight: bold;
}

#nav{  background: ButtonHighlight; }

A { color: blue;



}



A:link { color:blue;}       /* unvisited link */
A:visited { color:#cd3265;}   /* visited links */
A:active { color: lime; }    /* active links */
	

table {

}

	td {
	padding-right: 10px;
}








	
	



