HTML {
text-direction: rtl;

}




A {

	BACKGROUND-COLOR: #FFFFFF;
text-align: center;

}


A:link {
background-color: #fffcec;

}

A:hover {
	BACKGROUND-COLOR: #95f540;
}
A:active {
	BACKGROUND-COLOR: #ffefd7;

}
#nav {

	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 14pt;
VISIBILITY: visible; PADDING-BOTTOM: 1px; OVERFLOW: auto;
BORDER-LEFT: 1px solid #711515; BOTTOM: 1px; PADDING-TOP: 2px;
FONT-STYLE: normal; FONT-FAMILY: "Times New Roman", serif;
POSITION: fixed; TOP: 1px;
TEXT-ALIGN: center; TEXT-DECORATION: none;
margin-right: +1px;
text-direction: rtl;
width: 17%;
right: +1px;
border-right: 1px solid #711515;
border-top: 1px solid #711515;}


#nav UL {


	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px;
     MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

#nav LI {border: 1px #e0ad5b solid;
	
}
#nav LI A:link {
display: block;}
#nav LI A:visited  {
DISPLAY: block;


}

#content {
position: relative;
font-family: Arial, sans-serif;
font-size: 16pt;
text-align: justify;
padding-left: 5px;
width:77%;
margin-right: +20%;
padding-right: 2px;

}


a {
 BACKGROUND-COLOR: #FFFFCC;
text-align: center;


}